/* You can add global styles to this file, and also import other style files */
.cursor-pointer{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.text-color-white{
    color: white;
}
.text-bold{
    font-weight: 600;
}